@use '../fonts/evolventa.scss';
@use '../fonts//nozhik.scss';
@use './animations.scss';
@use './calendar.scss';

body {
  font-family: 'Evolventa', sans-serif;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.shadow-primary {
  box-shadow: -4px 4px 0px 0px var(--color-primary-2);
  transition: 0.3s;

  &:active {
    box-shadow: -2px 2px 0px 0px var(--color-primary-2);
    transform: translateX(-2px) translateY(2px);
  }
  &.active {
    box-shadow: -2px 2px 0px 0px var(--color-primary-2);
    transform: translateX(-2px) translateY(2px);
  }
}

.shadow-small-primary {
  box-shadow: -2px 2px 0px 0px var(--color-primary-2);
  transition: 0.3s;

  &:active {
    box-shadow: -1px 1px 0px 0px var(--color-primary-2);
    transform: translateX(-1px) translateY(1px);
  }
  &.active {
    box-shadow: -1px 1px 0px 0px var(--color-primary-2);
    transform: translateX(-1px) translateY(1px);
  }
}

.shadow-small-primary-dark {
  box-shadow: -2px 2px 0px 0px var(--color-link-active);
  transition: 0.3s;

  &:active {
    box-shadow: -1px 1px 0px 0px var(--color-link-active);
    transform: translateX(-1px) translateY(1px);
  }
  &.active {
    box-shadow: -1px 1px 0px 0px var(--color-link-active);
    transform: translateX(-1px) translateY(1px);
  }
}

.shadow-primary-dark {
  box-shadow: -4px 4px 0px 0px var(--color-link-active);
  transition: 0.3s;

  &:active {
    box-shadow: -2px 2px 0px 0px var(--color-link-active);
    transform: translateX(-2px) translateY(2px);
  }
  &.active {
    box-shadow: -2px 2px 0px 0px var(--color-link-active);
    transform: translateX(-2px) translateY(2px);
  }
}

.shadow-secondary {
  box-shadow: -4px 4px 0px 0px var(--color-secondary-3);
  transition: 0.3s;

  &:active {
    box-shadow: -2px 2px 0px 0px var(--color-secondary-3);
    transform: translateX(-2px) translateY(2px);
  }
  &.active {
    box-shadow: -2px 2px 0px 0px var(--color-secondary-3);
    transform: translateX(-2px) translateY(2px);
  }
}

.shadow-small-secondary {
  box-shadow: -2px 2px 0px 0px var(--color-secondary-3);
  transition: 0.3s;

  &:active {
    box-shadow: -1px 1px 0px 0px var(--color-secondary-3);
    transform: translateX(-1px) translateY(1px);
  }
  &.active {
    box-shadow: -1px 1px 0px 0px var(--color-secondary-3);
    transform: translateX(-1px) translateY(1px);
  }
}

.shadow-small-primary-i {
  box-shadow: -2px 2px 0px 0px var(--color-primary-3) !important;
  transition: 0.3s;

  &:active {
    box-shadow: -1px 1px 0px 0px var(--color-primary-3) !important;
    transform: translateX(-1px) translateY(1px);
  }
  &.active {
    box-shadow: -1px 1px 0px 0px var(--color-primary-3) !important;
    transform: translateX(-1px) translateY(1px);
  }
}

.shadow-small-secondary-dark {
  box-shadow: -2px 2px 0px 0px var(--color-secondary-4);
  transition: 0.3s;

  &:active {
    box-shadow: -1px 1px 0px 0px var(--color-secondary-4);
    transform: translateX(-1px) translateY(1px);
  }
  &.active {
    box-shadow: -1px 1px 0px 0px var(--color-secondary-4);
    transform: translateX(-1px) translateY(1px);
  }
}

.shadow-small-fliped-secondary {
  box-shadow: 2px 2px 0px 0px var(--color-secondary-2);
  transition: 0.3s;

  &:active {
    box-shadow: 1px 1px 0px 0px var(--color-secondary-2);
    transform: translateX(1px) translateY(-1px);
  }
  &.active {
    box-shadow: 1px 1px 0px 0px var(--color-secondary-2);
    transform: translateX(1px) translateY(-1px);
  }
}

.active {
  outline: none;
}

.background-wave {
  background-image: url(../img//wave-bg.svg);
  background-size: auto 160px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.v-popper__popper {
  z-index: 50 !important;
}
.v-popper__inner {
  border-radius: 12px !important;
}
.v-popper__arrow-container {
  display: none;
}

.error-animation {
  animation: shake 0.9s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

.page-transition-lock {
  pointer-events: none !important;
  touch-action: none !important;
}

.text-overflow-2 {
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* Required for -webkit-line-clamp to work */
  -webkit-box-orient: vertical;
  /* Required for vertical clamping */
  -webkit-line-clamp: 2;
}

:root {
  --vh: 1vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
}

/* Безопасные области для современных устройств */
.safe-area {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.break-word {
  word-break: break-word;
}