@use '../fonts/evolventa.scss';
@use '../fonts//nozhik.scss';
@use './animations.scss';

body {
  font-family: 'Evolventa', sans-serif;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.shadow-primary {
  box-shadow: -4px 4px 0px 0px var(--color-primary-2);
  transition: 0.3s;

  &:active {
    box-shadow: -2px 2px 0px 0px var(--color-primary-2);
    transform: translateX(-2px) translateY(2px);
  }
}

.shadow-secondary {
  box-shadow: -4px 4px 0px 0px var(--color-secondary-2);
  transition: 0.3s;

  &:active {
    box-shadow: -2px 2px 0px 0px var(--color-secondary-2);
    transform: translateX(-2px) translateY(2px);
  }
}

.shadow-small-primary {
  box-shadow: -2px 2px 0px 0px var(--color-primary-2);
  transition: 0.3s;

  &:active {
    box-shadow: -1px 1px 0px 0px var(--color-primary-2);
    transform: translateX(-1px) translateY(1px);
  }
}


.shadow-small-fliped-primary {
  box-shadow: 2px 2px 0px 0px var(--color-primary-2);
  transition: 0.3s;

  &:active {
    box-shadow: 1px 1px 0px 0px var(--color-primary-2);
    transform: translateX(1px) translateY(-1px);
  }
}

.shadow-small-secondary {
  box-shadow: -2px 2px 0px 0px var(--color-secondary-2);
  transition: 0.3s;

  &:active {
    box-shadow: -1px 1px 0px 0px var(--color-secondary-2);
    transform: translateX(-1px) translateY(1px);
  }
}

.carousel__viewport {
  padding: 4px !important;
}