@import "tailwindcss";

@theme {
  --color-primary: #05D5D9;
  --color-primary-2: #00B0B4;
  --color-secondary: #FF5722;
  --color-secondary-2: #EA4E1D;
  --color-secondary-3: #EB4A19;
  --color-secondary-4: #D13E11;
  --color-white: #FFFFFF;
  --color-dark: #212121;
  --color-grey: #E4E4E4;
  --color-dark: #212121;
  --color-light: #F5F5F5;
  --color-hint-gray: #B3B3B3;
  --color-green: #2FD002;
  --color-red: #F53333;
  --color-secondary-dark: #BF2D00;
  --color-warning: #ffcc00;

  --color-link-active: #008285;

  --text-extra-small: 0.75rem;
  --text-extra-small--line-height: 1.25rem;

  --text-regular: 1rem;
  --text-regular--line-height: 1.75rem;

  --text-small: 1.25rem;
  --text-small--font-weight: 400;
  --text-small--line-height: 1.5rem;
  --text-small--letter-spacing: -0.03rem;

  --text-h3: 1.5rem;
  --text-h3--font-weight: 700;
  --text-h3--line-height: 2rem;
  --text-h3--letter-spacing: -0.03rem;

  --text-meduim: 2rem;
  --text-meduim--font-weight: 700;
  --text-meduim--line-height: 2rem;
  --text-meduim--letter-spacing: -0.03rem;

  --font-accent: 'Nozhik'
}