@import "tailwindcss";

@theme {
  --color-primary: #00B0B4;
  --color-primary-2: #05D5D9;
  --color-secondary: #FF5722;
  --color-secondary-2: #FF774C;
  --color-white: #FFFFFF;
  --color-dark: #212121;
  --color-grey: #E4E4E4;
  --color-dark: #212121;
  --color-light: #F5F5F5;
  --color-hint-gray: #B3B3B3;

  --text-small: 1.25rem;
  --text-small--font-weight: 700;
  --text-small--line-height: 1.25rem;
  --text-small--letter-spacing: -0.32px;
}